@import "variables";
@import "header";
@import "intro";
@import "todo";
@import "trips";
@import "testemony";
@import "form";
@import "footer";
@import "nav";
@import "slide";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-1;
    text-transform: uppercase;
    scroll-behavior: smooth;
}
